<h1>Products</h1>
<div>
<%=link_to "Create a new product", new_product_path%>
</div>
<div>
  <%= page_entries_info @products %>
</div>

<%= form_tag products_path, method: :get, authentication: false, id: 'search-form' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
<% end %>

<div id="products">
  <%= render @products %>
</div>
<%= paginate @products %>
